.homePageWrapper{
height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#ffffff;

  
}
.formWrapper{
  background-color: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
.homePageLogo{
 margin-bottom: 0px;
  width: 20vh;
  height: 20vh;
  
}
footer{
  position: fixed;
  bottom: 0%;
  color: aliceblue;

}
.createNewBtn{
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid  #4aed88;
  transition: all 0.3s ease-in-out;

}

.createNewBtn:hover{

  color:#368654;
  border-color: #368654;

}
.inputGroup{
  display: flex;
  flex-direction: column;
}
.mainLabel{
  margin-bottom: 20px;
  margin-top: 0px;
}
.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}
.btn{
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.joinBtn{
  background: #4aed88;
  width: 100px;
  margin-left: auto;
}
.joinBtn:hover,.leaveBtn:hover{
  background: #2b824c;

}

.createInfo{
  
  margin: 0 auto;
  margin-top: 20px;
}


.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;

}
.aside{
  background: #1c1e29;
  padding: 16px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.asideInner{
  flex: 1;

}
.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.username{
  margin-top: 10px;
}

.logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}
.logoImage{
  height: 60px;
  
}
.leaveBtn{
  width: 100%;
  margin-top: 20px;
  background: #4aed88;
}

.CodeMirror{
    min-height: calc(100vh - 20px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 10px;
}